{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "ie": 8
                },
                "modules": false
            }
        ]
    ],
    "plugins": [
        "transform-object-rest-spread",        
        "external-helpers",
    ]
}